/* Google fonts style */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

/* Asterisk wild card selector to override default styles added by browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/*Generic project styles */
color: rgb(242, 207, 158);
font-family: 'Caveat' , sans-serif;
}

/* Header */
header {
    background-color: #7E170A;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #674222;
}

h1{
    font-family: 'Pacifico' , sans-serif;
    
}
/* Main Content */
main {
    background-color: rgb(224, 143, 93);
    /* Make main element take up any surplus space to puch footer down */
    flex: 1 0 auto;
}

/* Footer */ 
footer {
    background-color: #674222;
}