/* Google fonts style */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400..700&display=swap');

/* Asterisk wild card selector to override default styles added by browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
min-height: 100vh;
display: flex;
flex-direction: column;
/*Generic project styles */
color: rgb(242, 207, 158);
font-family: 'Caveat' , sans-serif;
}

/* Header */
header {
    background-color: #7E170A;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #674222;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: 'Pacifico' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    
}

#menu{
    font-size: 20px;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #F2CF9E;
}

/* Navbar styles with dropdown menu */
nav {
    position: absolute;
    background-color: #7E170A;
    width: 100%;
    left: 0;
    padding: 0 1em;
    box-shadow: 0 3px 3px #F2CF9E;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle{
    display: none;
}

.nav-toggle-label {
    font-size: 5px;
}

    /* Main Content */
main {
    background-color: rgb(224, 143, 93);
    /* Make main element take up any surplus space to puch footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Footer */ 
footer {
    background-color: #674222;
}